<table class="table-auto text-left min-w-full divide-y divide-gray-500/20">
  <thead class="">
  <tr class="text-zinc-400 text-sm">
    <th class="px-4 py-2 font-light">#</th>
    <th class="px-4 py-2 font-light">Título</th>
    <th class="px-4 py-2 font-light">Álbum</th>
    <th class="px-4 py-2 font-light"><icon-time/></th>
  </tr>
  </thead>

  <tbody>
  <tr class="h-[16px]"></tr>

    @for (song of songs; track song.id; let index = $index) {
      <tr
        class="text-gray-300 border-spacing-0 text-sm font-light hover:bg-white/10 overflow-hidden transition duration-300 group">
        <td class="relative px-4 py-2 rounded-tl-lg rounded-bl-lg w-5">
          <span class="absolute top-5 opacity-100 transition-all group-hover:opacity-0">{{ index + 1 }}</span>
          <div class="absolute top-5 opacity-0 transition-all group-hover:opacity-100">
            <!--          <MusicsTablePlay song={song} isCurrentSong={isCurrentSongBoolean}/>-->
          </div>
        </td>
        <td class="px-4 py-2 flex gap-3">
          <picture class="size-11">
            <img
              [src]="song.image"
              alt="{{song.title}}"
              class="w-full h-auto object-cover"
            />
          </picture>
          <playlist-details-musictable-songtitle [song]="song" />
        </td>
        <td class="px-4 py-2">{{ song.album }}</td>
        <td class="px-4 py-2 rounded-tr-lg rounded-br-lg">{{ song.duration }}</td>
      </tr>
    }

  </tbody>
</table>
