<nav class="flex flex-row gap-2 flex-1 lg:flex-col">
  <div class="bg-zinc-900 rounded-lg p-2 flex-1 lg:flex-none">
    <ul class="flex flex-row gap-4 lg:flex-col">
      <li>
        <menu-item href="/" label="Inicio">
          <icon-home/>
        </menu-item>
      </li>

      <li>
        <menu-item href="/" label="Buscar">
          <icon-search/>
        </menu-item>
      </li>

    </ul>
  </div>

  <div class="hidden bg-zinc-900 rounded-lg p-2 flex-1 lg:block">
    @defer (on viewport) {
      <ul>
        <menu-item href="/" label="Tu biblioteca">
          <icon-library/>
        </menu-item>
        @if (shouldShowLoadingComponents) {
          @for (n of [1, 2, 3]; track n) {
            <loading-playlist-item/>
          }
        } @else {
          @for (playlist of playlists; track playlist.id) {
            <playlist-item [playlistItem]="playlist"/>
          }
        }
      </ul>
    } @placeholder {
      <ul>
      </ul>
    }
  </div>


</nav>
