<nav class="flex flex-1 flex-col gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <menu-item href="/" label="Inicio">
        <icon-home/>
      </menu-item>

      <menu-item href="/" label="Buscar">
        <icon-search/>
      </menu-item>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <menu-item href="/" label="Tu biblioteca">
        <icon-library/>
      </menu-item>
      @if (loading) {
        @for (n of [1,2,3]; track n){
          <loading-playlist-item/>
        }
      } @else {
        @for (playlist of playlists; track playlist.id) {
          <playlist-item [playlistItem]="playlist"/>
        }
      }
    </ul>
  </div>
</nav>
