<div
  id="playlist-container"
  class="relative flex flex-col h-full overflow-x-hidden bg-gradient-to-t from-50% from-zinc-900 via-zinc-900/90"
  [style.view-transition-name]="'playlist_' + playlistDetails?.id +'_box'"
  [style.background-color]="playlistDetails?.color?.accent"
>
  <header class="flex flex-col gap-8 px-6 mt-4 lg:mt-12 xs:flex-row">
    <picture class="flex flex-row"
             [style.view-transition-name]="'playlist_' + playlistDetails?.id +'_image'">
      @if (isLoading) {
        <loading-image/>
      } @else {
        <img
          [src]="playlistDetails?.cover"
          alt="Cover of {{playlistDetails?.title}}"
          class="aspect-square object-cover w-1/2 max-w-52 h-auto shadow-lg xs:size-32 lg:size-52 "
        />
      }
    </picture>

    <div class="flex flex-col justify-between">
      <h2 class="flex flex-1 items-end">Playlist</h2>
      <div>
        <h1 class="text-xl font-bold block text-white lg:text-5xl">
          <span [style.view-transition-name]="'playlist_' + playlistDetails?.id +'_title'">
            {{ playlistDetails?.title }}
          </span>
        </h1>
      </div>

      <div class="flex-1 flex items-end">
        <div class="text-sm text-gray-300 font-normal">
          <div [style.view-transition-name]="'playlist_' + playlistDetails?.id +'_artists'">
            <span>{{ songArtistAsString(playlistDetails?.artists || []) }}</span>
          </div>
          <p class="mt-1">
            <span class="text-white">{{ playlistSongs.length }} canciones.</span>
            <span>
              {{ showPlaylistDurationAsString() }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </header>


  @if (!isLoading) {
    <div class="pl-6 pt-6">
      <playlist-button-play
        buttonSize="large"
        [playlistId]="playlistDetails?.id"
        [style.view-transition-name]="'playlist_' + playlistDetails?.id +'_button'"
      />
    </div>

    <section class="p-6">
      <playlist-details-musictable
        [songs]="playlistSongs"
      />
    </section>
  }


</div>
