<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md transition-all duration-300 lg:pb-3 max-w-[300px] h-[100px] lg:max-w-none lg:h-full">

  <div
    [class]="{
            'absolute': true,
            'z-10': true,
            'right-4': true,
            'top-14': true,
            'opacity-1': !isPlaylistPlaying,
            'lg:right-4': true,
            'lg:top-20': true,
            'lg:transition-all': true,
            'lg:duration-500': true,
            'lg:group-hover:translate-y-0': true,
            'lg:group-hover:opacity-100': true,
            'lg:opacity-0': !isPlaylistPlaying,
            'lg:translate-y-4': !isPlaylistPlaying,
            'lg:translate-y-1': isPlaylistPlaying,
            }"
  >
    <playlist-button-play
      [playlistId]="playlist.id"
      [style.view-transition-name]="'playlist_' + playlist.id +'_button'"
    />
  </div>

  <a
    (click)="navigateToPlaylistDetails()"
    class="relative hover:cursor-pointer playlist-item flex flex-row gap-2 overflow-hidden p-2 pb-3 transition-all duration-300 rounded-md lg:flex-col lg:w-44"
    [style.view-transition-name]="'playlist_' + playlist.id +'_box'"
  >
    <picture class="aspect-square w-[30%] h-auto flex-none lg:w-full">
      <img [src]="playlist.cover" alt="Cover of {{playlist.title}} by {{ songArtistAsString(this.playlist.artists) }}"
           class="object-cover w-full h-full rounded-md"
           [style.view-transition-name]="'playlist_' + playlist.id +'_image'"
      />
    </picture>

    <div class="flex flex-1 flex-row px-2 gap-1 justify-between">

      <div class="flex flex-col">
        <h4
          [class]="{
          'text-sm': true,
          'text-white': !isPlaylistPlaying,
          'text-green-500': isPlaylistPlaying
          }"
          [style.view-transition-name]="'playlist_' + playlist.id +'_title'">
          {{ playlist.title }}
        </h4>

        <span
          class="text-xs text-gray-400 truncate w-[80%]"
          [style.view-transition-name]="'playlist_' + playlist.id +'_artists'">
        {{ songArtistAsString(this.playlist.artists) }}
      </span>
      </div>

      @if (isPlaylistPlaying) {
        <equalizer
          [style.view-transition-name]="'playlist_' + playlist.id +'_equalizer'"
        />
      }


    </div>

  </a>


</article>

