<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md ransi transition-all duration-300">
  <div
    class="absolute right-4 bottom-20 translate-y-4 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10">
    <playlist-button-play [playlistId]="playlist.id" />
  </div>

  <a routerLink="/playlist/{{playlist.id}}"
     class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6 rounded-md w-44 flex-col"
     [style.view-transition-name]="'playlist_' + playlist.id +'_box'"
  >
    <picture class="aspect-square w-full h-auto flex-none">
      <img [src]="playlist.cover" alt="Cover of {{playlist.title}} by {{getArtists()}}"
           class="object-cover w-full h-full rounded-md"
           [style.view-transition-name]="'playlist_' + playlist.id +'_image'"
      />
    </picture>

    <div class="flex flex-auto flex-col px-2">
      <h4 class="text-white text-sm" [style.view-transition-name]="'playlist_' + playlist.id +'_title'">
        {{ playlist.title }}
      </h4>

      <span
        class="text-xs text-gray-400" [style.view-transition-name]="'playlist_' + playlist.id +'_artists'">
        {{ getArtists() }}
      </span>
    </div>
  </a>
</article>

