<div class="flex justify-center items-center gap-x-2 text-white mr-1">
  <!--  <button className="opacity-70 hover:opacity-100 transition" onClick={handleClickVolumen}>-->
  <!--    {/*  {isVolumeSilenced ? <VolumeSilenced /> : <Volume />}*/}-->
  <!--    <PlayerVolumeIconComponent />-->
  <!--  </button>-->

  <app-player-volume-button/>
  <mat-slider min="0" max="{{maxVolume}}" step="{{volumeStep}}">
    <input matSliderThumb [(ngModel)]="currentVolume" #volumeSlider>
  </mat-slider>


  <!--  <Slider-->
  <!--    defaultValue={[100]}-->
  <!--    max={100}-->
  <!--    min={0}-->
  <!--    value={[volume * 100]}-->
  <!--    className="w-[95px]"-->
  <!--    onValueChange={(value) => {-->
  <!--  const [newVolume] = value-->
  <!--  const volumeValue = newVolume / 100-->
  <!--  setVolume(volumeValue)-->
  <!--  }}-->
  <!--  />-->
</div>
