#main-container {
  display: grid;
  grid-template-areas:
          "aside main"
          "player player";
  grid-template-columns: 120px 1fr;
  grid-template-rows: 1fr auto;

}


@media (min-width: 640px) {
  #main-container {
    grid-template-columns: 350px 1fr;
  }

}
