<li>
    <section class="playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-800">
        <picture class="h-12 w-12 flex-none bg-gray-500 rounded animate-pulse animate-infinite animate-duration-1000">
        </picture>

        <div class="flex flex-auto flex-col truncate animate-pulse animate-infinite animate-duration-1000">
            <h2 class="text-white text-sm">
                <strong>...</strong>
            </h2>
        </div>

    </section>
</li>
