<article
  class="group relative hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md transition-all duration-300">

  <section
    class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden gap-2 pb-6 rounded-md w-44 flex-col"
  >

    <picture class="aspect-square w-full h-auto flex-none">
      <loading-image/>
    </picture>

    <div class="flex flex-auto flex-col px-2">
      <h3>
        <loading-text/>
      </h3>
    </div>
  </section>
</article>
