<div class="w-[500px] flex flex-row justify-around items-center gap-1">
  <audio #audioPlayer></audio>
  <!--  <mat-slider showTickMarks discrete [displayWith]="formatLabel">-->
  <span class="text-gray-500 text-xs text-center w-[40px]">{{ elapsedTimeAsString() }}</span>
  <mat-slider max="{{songDurationSeg}}">
    <input matSliderThumb [(ngModel)]="currentTimeSeg" #songTrackSlider>
  </mat-slider>
  <span class="text-gray-500 text-xs text-center w-[40px]">{{ totalTimeAsString() }}</span>
</div>

