<div class="relative flex flex-col p-3 h-full overflow-x-hidden transition-all duration-1000 bg-gradient-to-t from-zinc-900 via-zinc-900/90 md:from-50% to-green-600">
  <greetings-user/>
  <div class="flex flex-wrap mt-6 gap-4 justify-center xl:justify-start">
    @if (shouldShowLoadingComponents) {
      @for (n of [1, 2, 3, 4, 5]; track n) {
        <loading-playlist-card/>
      }
    } @else {
      @for (playlist of playlists; track playlist.id) {
        <playlist-card [playlist]="playlist"/>
      }
    }
  </div>
</div>
