<div class="flex flex-row justify-between w-full px-1 z-50">
  <div class="w-[200px]">
    <player-current-song/>
  </div>

  <div class="place-content-center flex-1">
    <div class="flex justify-center flex-col items-center">
      <button class="bg-white rounded-full hover:scale-105 p-2">
        @if (isPlaying) {
          <icon-pause />
        } @else {
          <icon-play />
        }
      </button>
      <player-track-control/>
    </div>
  </div>

  <div class="grid place-content-center">
    <player-volume-control/>
  </div>
</div>
