<div class="flex flex-row justify-between w-full px-1 z-50">
  <div class="w-[200px]">
    <player-current-song/>
  </div>

  <div class="place-content-center flex-1 flex-col">
    <div class="flex justify-center flex-row items-center gap-6">

      <player-button-shuffle/>
      <player-button-back/>
      <button
        class="bg-white text-black rounded-full hover:scale-110 p-2">
        @if (isPlaying) {
          <player-button-pause/>
        } @else {
          <player-button-play/>
        }
      </button>
      <player-button-next/>
      <player-button-repeat/>
    </div>

    <div class="flex justify-center flex-row items-center">
      <player-track-control class="flex-1"/>
    </div>
  </div>

  <div class="grid place-content-center">
    <player-volume-control/>
  </div>
</div>
