.player {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    "player-current-song player-volume-controls"
    "player-track-buttons player-track-buttons"
    "player-tracker player-tracker";
}

/* custom media query xs of tailwind */
@media (min-width: 550px) {
  .player {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "player-current-song player-track-buttons player-volume-controls"
      "player-tracker player-tracker player-tracker";
  }
}
