<div class="player">
  <div class="[grid-area:player-current-song]">
    <player-current-song/>
  </div>

  <div class="[grid-area:player-track-buttons]">
    <div class="flex justify-center flex-row items-center gap-6">

      <player-button-shuffle/>
      <player-button-back/>
      <button
        class="bg-white text-black rounded-full hover:scale-110 p-2">
        @if (isPlaying) {
          <player-button-pause/>
        } @else {
          <player-button-play/>
        }
      </button>
      <player-button-next/>
      <player-button-repeat/>
    </div>
  </div>

  <div class="[grid-area:player-tracker]">
    <player-track-control />
  </div>

  <div class="[grid-area:player-volume-controls]">
    <player-volume-control/>
  </div>
</div>
